<div *ngIf="book">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ book.title }}
      </mat-panel-title>
      <mat-panel-description>
        Author: {{ book.author }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-panel-description>
      {{ book.description }}
    </mat-panel-description>

    <mat-action-row class="book__icon">
      <i class="material-icons">chrome_reader_mode </i>
      {{ book.pages }} pages
    </mat-action-row>

    <mat-action-row>
      <button mat-flat-button color="warn" (click)="deleteBook(book.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
</div>